{% extends 'base.html.twig' %}

{% block title %}Liste des Réservations{% endblock %}

{% block body %}
         <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Pré-confirmation de réservation</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->
        
		<div class="container">
			<div class="row">
                <div class="col-md-8">
					<article class="contact">
						    <div class="art-content">
                                <div id="contact_form" id="ff">
    
                                    <div class="paypal">
                                        <p>
                                            <h6>Cette transaction sera payée en EUR.</h6>
                                            <br>
                                                Paiement sécurisé par PayPal. 
                                        </p>
                                    <div id="paypal-button-container"></div>
                                        <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=EUR" data-sdk-integration-source="button-factory"></script>
                                        <script>
                                        paypal.Buttons({
                                            style: {
                                                shape: 'pill',
                                                color: 'gold',
                                                layout: 'vertical',
                                                label: 'pay',
                                                
                                            },
                                            createOrder: function(data, actions) {
                                                return actions.order.create({
                                                    purchase_units: [{
                                                        amount: {
                                                            value: '1'
                                                        }
                                                    }]
                                                });
                                            },
                                            onApprove: function(data, actions) {
                                                return actions.order.capture().then(function(details) {
                                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                                });
                                            }
                                        }).render('#paypal-button-container');
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
		    </div>
        </div>
{% endblock %}
