{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <h1>Crée une nouvelle réservation</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">Revenir à la liste</a>
{% endblock %}
