{% extends 'base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% block body %}
    <h1>Ajouter une voiture</h1>

    {{ include('car/_form.html.twig') }}

    <a href="{{ path('car_index') }}">Revenir à la liste</a>
{% endblock %}
